.product-header-image{
    object-fit:contain;
    height: 600px;
    width: 100%;
     
}
.product-item img{
    width: 200px;
}
.product-list-wrapper{
 margin-top:80px ;
 margin-bottom: 80px;   
}