.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    color: blueviolet;
}
.container{
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative; 
    bottom: 0;
    right: 0;
    left: 0;
    padding-top:50px ;
    
}
    
    