
<div class="main" *ngIf="appear">
  <app-header (sideNavToggled)="sideNavStatus=$event"></app-header>
  <main>
    <div class="footer">
  <app-footer></app-footer>
</div>
    <app-side-nav [sideNavStatus]="sideNavStatus"
    [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-side-nav>
    <div class="display-area">
  
       <router-outlet></router-outlet>   
    </div>
    
  </main>
  
</div>
<app-login *ngIf="showLogin" (buttonClick)="handleButtonClick()" [appear]="appear"></app-login>
 

 