
/* .login-btn{
    margin-left: 700px;
} */
nav{
    height: 100%;
    background-color: black;
    
}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.side-nav-button:hover{
    background-color: rgb(255,255,255,0.2);
    border-radius: 30%;
}
a{
    color:white ;
}
a:hover{
    background-color: rgb(255,255,255,0.2);
    border-radius: 30%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}