.login{
    /* border: 1px solid black; */ 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}
 /* table {
    
    border: 1px solid black;
}      */
.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    } 
/* button{
    margin-top: 10px;
    margin-left: 150px;
    background-color: black;
    color:white;
    border-radius:30% ;
}
button:hover{
    background-color: rgb(34, 34, 34);
} */
h2{
    border: 1px solid black;  
      width: 300px;
    text-align: center;
    background-color: black;
    color: white;
    }
.container{
  /*   border: 1px solid black; */
    width: 300px;
    padding: 15px;
    border-radius:5%;
    background-color:rgba(249,251,255);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.navbar{
    border: 1px black solid;
    background-color:rgba(249,251,255);
}