<div class="login">
    
    <div class="box">
        <h2>Pleases Login</h2>
            <table>
        <tr>
            <label>Enter the email: </label>
        </tr>
        <tr>
            <input type="text" [(ngModel)]="email">

        </tr>
        <tr>
            <label >Enter the password: </label>
            
        </tr>
<tr>
    <input type="password" [(ngModel)]="password">   
</tr>

    

    </table>
    <button (click)="onButtonClick()">Login</button>
</div>

          
   
</div>