<div class="flx">
    <div class="box">
        <table>
            <tr>
              <label for="name">Name</label><hr>
            </tr>
            <tr>
              <label for="college">College</label><hr>
            
              
            </tr>
            <tr>
              <label for="address">Address</label><hr>
              
            </tr>
            <tr>
              <label for="rollnumber">Roll Number</label><hr>
            </tr>
            <tr>
              <label for="marks">Marks</label><hr>
             
            </tr>
          </table>
          
        </div>
</div>