.box{
    border: 2px solid rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 800px;
}
.flx{
    display: flex;
    justify-content: center;
   align-items: center;
   height: 60vh;
  
  
}
tr{
    border: 1px solid black;
    width: 100px;
}
table{
    display: flex;
    text-align: center;

    
}